<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.1" targetFramework="net45" />
  <package id="BEPUphysics" version="1.3.0" targetFramework="net45" />
  <package id="IronPython" version="2.7.2-beta1" targetFramework="net45" />
  <package id="IronPython.StdLib" version="2.7.5" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0.0-beta2" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="1.1.1589.5942" targetFramework="net45" />
  <package id="OpenTK.Next" version="1.1.1616.8959" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.17-beta" targetFramework="net45" />
</packages>